body{
background:white;
font-family:Arial;
}

h1{
color:#ffffff;
background:#ffffff;
padding:10px;
}

button{
background:blue;
color:white;
border:none;
padding:8px;
}

button:hover{
background:lightblue;
}

input{
width:150px;
}
